.project-header {
    background-image: url("../../src/img/OnLifesPath/banner.png");
}

.project-header img.project-banner {
    width: 300px;
    margin-bottom: 20px;
    border-radius: 12px;
}


@media screen and (max-width: 500px) {

    .project-header{
        background-image: url();
    }
    
    .gallery-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    
    .project-header img.project-banner {
        width: 250px;
        border-radius: 0px;
        margin-bottom: 0px;
}

}